.composition{
    position:relative;
    &-img{
        width:55%;
        margin-bottom:5px;
        box-shadow:0 1.5rem 4rem rgba($color-dark, .4);
        border-radius:4px;
        position:absolute;
        transition:all 0.2s ease-in-out;
        z-index:5;
        &-1{
            left:0;
            top:-2rem;
        }
        &-2{
            right:0;
            top:2rem;
        }
        &-3{
            left:20%;
            top:10rem;
        }
        &:hover{
            transform:scale(1.08);   
            box-shadow:0 2rem 4rem rgba($color-dark,.6) ; 
            z-index:20;   
            outline: 1rem solid $color-primary; 
            padding:2.5rem;
         }
    }
    &:hover &-img:not(:hover){
        transform:scale(.9);
    }
}